Source: golang-github-coreos-bbolt
Section: golang
Priority: optional
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders: Anthony Fok <foka@debian.org>,
           Martín Ferrari <tincho@debian.org>,
           Tim Potter <tpot@hpe.com>,
           Dmitry Smirnov <onlyjob@debian.org>,
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
               dh-sequence-golang,
               golang-any (>= 2:1.21~),
               golang-github-stretchr-testify-dev (>= 1.8.1),
               golang-github-etcd-io-gofail-dev (>= 0.1.0),
               golang-golang-x-sync-dev (>= 0.5.0),
               golang-golang-x-sys-dev (>= 0.4.0),
Testsuite: autopkgtest-pkg-go
Standards-Version: 4.7.0
Vcs-Browser: https://salsa.debian.org/go-team/packages/golang-github-coreos-bbolt
Vcs-Git: https://salsa.debian.org/go-team/packages/golang-github-coreos-bbolt.git
Homepage: https://github.com/etcd-io/bbolt
XS-Go-Import-Path: go.etcd.io/bbolt,
                   github.com/coreos/bbolt,
                   github.com/etcd-io/bbolt,

Package: golang-github-coreos-bbolt-dev
Architecture: all
Multi-Arch: foreign
Depends: golang-github-stretchr-testify-dev (>= 1.8.1),
         golang-github-etcd-io-gofail-dev (>= 0.1.0),
         golang-golang-x-sync-dev (>= 0.5.0),
         golang-golang-x-sys-dev (>= 0.4.0),
         ${misc:Depends},
Description: low-level key/value database for Go, especially CoreOS's etcd
 bbolt is a fork of Ben Johnson's Bolt key/value store
 (github.com/boltdb/bolt).
 .
 The purpose of this fork is to better cater to the needs of CoreOS's etcd
 (github.com/coreos/etcd), and to provide the Go community with an active
 maintenance and development target for Bolt; the goal is improved reliability
 and stability.  bbolt includes bug fixes, performance enhancements, and
 features not found in Bolt while preserving backwards compatibility with the
 Bolt API.
 .
 Bolt is a pure Go key/value store inspired by Howard Chu's and the LMDB
 project. The goal of the project is to provide a simple, fast, and reliable
 database for projects that don't require a full database server such as
 Postgres or MySQL.
